@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href="~/assets/css/filter.css" rel="stylesheet" />
<!-- Bootstrap Datepicker JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/xlsx.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<style>
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #ede8e8 !important;
        border: 0px solid #aaa !important;
    }

    .datepicker thead, th {
        background-color: #032954;
        color: white;
        border: 2px solid #ddd;
        text-align:center;
    }
    .datepicker td, .datepicker th {
        border-radius: 20px !important;
    }

    .datepicker table tr td, .datepicker table tr td {
        padding: 8px 9px !important;
        height: 16px !important;
    }

    .datepicker table tfoot {
        display: none;
    }

    .active {
        background-color: #0ba4af;
        color: #fff;
    }

    .datepicker {
        top: 157.766px !important;
        left: 262px;
        z-index: 10;
        display: block;
    }

    .tabs {
        width: 100%;
        max-width: 2000px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        /* overflow: hidden; */
        padding: 0.7rem;
    }
    .dropdown-container {
        position: relative;
        display: inline-block;
        font-family: Arial, sans-serif;
    }

    .dropdown-button {
        padding: 8px;
        border: 2px solid black;
        cursor: pointer;
        background-color: white;
        width: 300px;
        margin-top: 10px;
    }

    .dropdown-list {
        display: none;
        background-color: white;
        border: 1px solid #ccc;
        z-index: 1000 !important;
        padding: 5px;
        max-height: 132px;
        margin-top: -8px;
        overflow-y: auto;
    }

 /*    th {
        border: 1px solid #d0d9db;
        background-color: #fff;
        color: #000;
    }
 */
    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        margin-bottom: 30px;
    }
    .charts {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .chart-box {
        flex: 1 1 calc(50% - 1rem); /* two per row by default */
        background: #fff;
        padding: 1rem;
        border-radius: 12px;
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
        max-height: 460px;
    }

    .chart-title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #333;
    }

    /* Highlighted boxes */
    .chart-box.orange {
        background: #ff9800;
        color: #fff;
    }

    .chart-box.teal {
        background: #009688;
        color: #fff;
    }

    /* Number style */
    .number {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }

    /* Mobile Responsive */
    @@media (max-width: 768px) {
        .chart-box {
            flex: 1 1 100%; /* full width on mobile */
        }
    }
</style>
<div id="txtCreatepage">
    <div class="row">
        <div class="shadow-sm card1">
            <div class="tabs">
                <div class="row">
                    <div class="col-md-12 p-2">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-6">
                                <label for="txtFromDate" class="col-form-label-sm fw-bold">From Date</label>
                                <input type="hidden" id="txtAuthKey" value="@ViewBag.AuthKey" />
                                <input type="hidden" id="txtAppBaseUrl" value="@ViewBag.AppBaseURL" />
                                <input type="hidden" id="txtUserName" value="@ViewBag.UserName" />
                                <input type="text" id="txtFromDate" name="txtFromDate" autocomplete="off" class="form-control form-control-sm box_border" placeholder="From Date.." maxlength="15">
                            </div>
                            <div class="col-md-3 col-sm-6 col-6">
                                <label for="txtToDate" class="col-form-label-sm fw-bold">To Date</label>
                                <input type="text" id="txtToDate" name="txtToDate" autocomplete="off" class="form-control form-control-sm box_border" placeholder="To Date.." maxlength="15">
                            </div>
                            <div class="col-md-3  col-sm-6 dropdown-container" style="margin-top:-2px;">
                                <label for="dropdownButton" class="col-form-label-sm fw-bold">
                                    <strong>User</strong> <span class="text-danger">*</span>
                                </label>
                                <div style="position: relative;">
                                    <input type="text" id="dropdownButton" readonly class="form-control form-control-sm box_border select-checkbox-multi" placeholder="Select Users">
                                </div>
                                <div class="dropdown-list" id="dropdownList">
                                    <label><input type="checkbox" id="selectAll" value="0"> Select All</label><br>
                                    <div id="checkboxOptions"></div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 without-label-field">
                                <button type="button" class="btn btn-danger btn-height" title="Reset" onclick="Reset()">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="charts p-2">
            <div class="chart-box orange">
                <div class="chart-title">
                    UnPlanning Tickets
                    <h3 id="txtHighPriority" class="number">
                    </h3>
                    <div class="kpi-icon">
                        <i class="fa-solid fa-ticket"></i>
                    </div>
                </div>
               
            </div>
            <div class="chart-box teal">
                <div class="chart-title">Planning Tickets</div>
                <h3 id="txtNormalPriority" class="number">
                </h3>
                <div class="kpi-icon">
                    <i class="fa-solid fa-list-check"></i>
                </div>
            </div>
          
        </div>
        <div class="charts p-2 ">
            <!-- Donut -->
            <div class="chart-box">
                
                <div class="chart-title">Ticket Age Bucket</div>
              
                <canvas id="myPieChart"></canvas>
            </div>
            <!-- Bar -->
            <div class="chart-box">
                <div class="chart-title">Employee Time Overview</div>
                <canvas id="employeeChartCanvas"></canvas>
            </div>
        </div>
        <div class="charts p-2">
            <!-- Donut -->
            <div class="chart-box">
                <div class="chart-title">OverDue Tickets Client Wise</div>
                <div class="chart-title" id="TotalTickets"></div>
                <canvas id="myDountChart"></canvas>
            </div>
            <!-- Bar -->
            <div class="chart-box">
                <div class="chart-title">
                    Employee Efficiency Record
                </div>
                <canvas id="employeeEfficiency"></canvas>
            </div>
        </div>
        <div class="charts p-2">
            <!-- Donut -->
            <div class="chart-box">
                <div class="chart-title">
                    Employee Wise Worked Hours
                </div>
                <canvas id="EWorkedHours"></canvas>
            </div>
            <!-- Bar -->
            <div class="chart-box">
                <div class="chart-title">
                    Client - Wise Time Spent
                </div>
                <canvas id="CWorkedHours"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/filter.js"></script>
<script src="~/assets/script/dashboard.js"></script>