@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/assets/script/login.js"></script>
<!-- App Css-->
<link href="~/assets/css/app.min.css" rel="stylesheet" />
<link href="~/assets/css/responsive.css" rel="stylesheet" />

<title>Login ESMS</title>
<style>
    /* .login-containers {
        color: #ef6c00;
        padding: 10px 10px;
        border-radius: 10px;
        box-shadow: 0 0 11px 1px #999999;
        max-width: 480px;
        margin: 0 auto;
        margin-top: 2rem;
        font-size:15px;
    } */

    /* .Esms-logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: relative;
        bottom: 4rem;
        border: 1px solid #e0e4e8;
    }

    .Esms-login-logo {
        height: 50px;
    } */

    .modal {
        position: fixed;
        z-index: 999;
        background: rgba(0,0,0,0.4);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .modal-content {
        background: #fff;
        padding: 20px;
        width: 500px;
        border-radius: 8px;
    }

    a {
        text-decoration: none;
    }

    .modal-body {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: var(--bs-modal-padding);
        height: 400px !important;
    }
</style>

@* <div class="login-containers card">
    <div class="modal-header">
        <h4 class="modal-title center text-bold">
            <img style="height: 40px; vertical-align: bottom" src="~/assets/images/bizsol-logo-small.gif" />
            <font style="font-size: xx-large; line-height: 1.3;"><span style="color: #ef6c00;">B</span><span style="color: #569252;">iz</span><span style="color: #ef6c00;">S</span><span style="color: #569252;">o</span><span style="color: #ef6c00;">l</span> </font>
            <span style="color: #ef6c00;">E-Task</span>
        </h4>
        <span class="text-right" style="color: #ef6c00;"><i class="fa fa-lock fa-2x" aria-hidden="true"></i></span>
    </div>
    <hr />
    <form>
        <div id="dvLogin">
            <div class="mt-2">
                <label for="txtCompanyCode" class="form-label login-form-text">User Login</label>
                <input id="txtCompanyCode" name="CompanyCode" class="login-test-field form-control login-form-text" placeholder="Enter Company Code" type="text" maxlength="15" autocomplete="off">
            </div>
            <div>
                <div class="mt-2" id="txtU">
                    <input id="txtUserID" name="UserID" class="login-test-field form-control login-form-text" placeholder="Enter User ID" type="text" maxlength="15" autocomplete="off">
                </div>
                <div class="mt-2" id="txtP">
                    <input id="txtPassword" name="Password" class="login-test-field form-control login-form-text" placeholder="Enter Password" autocomplete="off" type="password" maxlength="15">
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="checkbox" id="chkIsRememberMe" checked="checked"/>
                        Remember Me ?
                    </div>
                </div>
                <input type="button" class="login-test-field btn btn-primary login-form-text mt-3" id="btnProceed" value="Login" />
            </div>
            <div class="row">
                <div class="col-sm-12 text-right" style="margin-top: 1.4rem; font-size: 0.8rem;">
                    <a><span id="forgotpassword" style="cursor: pointer; color: #f58220;">Forgot Password ?</span></a>
                </div>
            </div>
        </div>
        <div id="dvForgetPassword" style="display:none">
            <div class="mt-2">
                <label for="txtForgetCompanyCode" class="form-label login-form-text">User Login</label>
                <input id="txtForgetCompanyCode" name="CompanyCode" class="login-test-field form-control login-form-text" placeholder="Enter Company Code" type="text" autocomplete="off" maxlength="15">
                <input id="hfOtp" class="login-test-field form-control login-form-text" type="hidden" required autocomplete="off">
            </div>
            <div class="mt-2" id="txtU">
                <input id="txtForgetUserID" name="UserID" class="login-test-field form-control login-form-text" placeholder="Enter User ID" type="text" maxlength="15" autocomplete="off">
            </div>
            <div class="mt-2" id="dvOTP" style="display:none">
                <input id="txtOtp" class="login-test-field form-control login-form-text" placeholder="Enter OTP" type="text" maxlength="4" autocomplete="off">
            </div>
            <div class="row">
                <div class="col-sm-6 mt-1">
                    <span style="color:blue;font-size:12px;cursor:pointer;" id="btnBack">GO TO BACK ?</span>
                </div>
                <div class="col-sm-6 text-right">
                    <div id="dvAfterGetOtp" style="display:none;">
                        <input type="button" class="login-test-field btn btn-primary login-form-text" id="btnSubmit" value="Submit" />
                        <input type="button" class="login-test-field btn btn-primary login-form-text" id="btnGetOtp1" value="Re-Send OTP" />
                    </div>
                    <div id="dvBeforeGetOtp">
                        <input type="button" class="login-test-field btn btn-primary login-form-text" id="btnGetOtp" value="GET OTP" />
                    </div>
                </div>
                <level id="txtMsg" style="color:red"></level>
            </div>
        </div>
    </form>
</div> *@

<div class="container-fluid login-container">
    <div class="card login-card">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-6 login-sec1">
                <div class="col-md-12 login-sec1COL">
                    <div class="loginForm-logo mb-3">
                        <img style="height: 100px; vertical-align: bottom" src="~/assets/images/e-task.png" />
                    </div>
                    <div>
                        <h2 class="login-heading">Welcome to <span>BizSol e-Task</span></h2>
                        <p>
                            Your Smart Task Manager is Just a Step Away !
                            <br />
                            Enter your details to get started.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6  col-sm-12 col-12">
                <form class="login-form">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="heading-icon text-center"><span><i class="fa fa-user-circle circle-icon" aria-hidden="true"></i></span></div>
                            <h2 class="heading-h2 mt-2"><span>Log in</span></h2>
                        </div>
                        <div class="col-md-12">
                            <label for="txtCompanyCode" class="form-label login-form-text">User Login</label>
                            <input id="txtCompanyCode" name="CompanyCode" class="login-test-field form-control login-form-text" placeholder="Enter Company Code" type="text" maxlength="15" autocomplete="off">
                        </div>
                        <div class="col-md-12" id="txtU">
                            <input id="txtUserID" name="UserID" class="login-test-field form-control login-form-text" placeholder="Enter User ID" type="text" maxlength="15" autocomplete="off">
                        </div>
                        <div class="col-md-12" id="txtP">
                            <input id="txtPassword" name="Password" class="login-test-field form-control login-form-text" placeholder="Enter Password" autocomplete="off" type="password" maxlength="15">
                        </div>

                        <div class="col-md-12" style="color: #0c666e">
                            <input type="checkbox" id="chkIsRememberMe" checked="checked" />
                            Remember Me ?
                        </div>
                        <div class="col-md-12">
                            <input type="button" class="login-test-field btn btn-primary login-form-text mt-3" id="btnProceed" value="Login" />
                        </div>
                        <div class="col-sm-12 text-right">
                            <a><span id="forgotpassword" style="cursor: pointer; color: #0c666e;">Forgot Password ?</span></a>
                        </div>
                    </div>

                    <div class="row" id="dvForgetPassword" style="display:none">
                        <div class="col-md-12">
                            <label for="txtForgetCompanyCode" class="form-label login-form-text">User Login</label>
                            <input id="txtForgetCompanyCode" name="CompanyCode" class="login-test-field form-control login-form-text"
                                   placeholder="Enter Company Code" type="text" autocomplete="off" maxlength="15">
                            <input id="hfOtp" class="login-test-field form-control login-form-text" type="hidden" required
                                   autocomplete="off">
                        </div>
                        <div class="col-md-12" id="txtU">
                            <input id="txtForgetUserID" name="UserID" class="login-test-field form-control login-form-text"
                                   placeholder="Enter User ID" type="text" maxlength="15" autocomplete="off">
                        </div>
                        <div class="col-md-12" id="dvOTP" style="display:none">
                            <input id="txtOtp" class="login-test-field form-control login-form-text" placeholder="Enter OTP" type="text"
                                   maxlength="4" autocomplete="off">
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mt-1">
                                <span style="color:blue;font-size:12px;cursor:pointer;" id="btnBack">GO TO BACK ?</span>
                            </div>
                            <div class="col-sm-6 text-right">
                                <div id="dvAfterGetOtp" style="display:none;">
                                    <input type="button" class="login-test-field btn btn-primary login-form-text" id="btnSubmit"
                                           value="Submit" />
                                    <input type="button" class="login-test-field btn btn-primary login-form-text" id="btnGetOtp1"
                                           value="Re-Send OTP" />
                                </div>
                                <div id="dvBeforeGetOtp">
                                    <input type="button" class="login-test-field btn btn-primary login-form-text" id="btnGetOtp"
                                           value="GET OTP" />
                                </div>
                            </div>
                            <level id="txtMsg" style="color:red"></level>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="attachmentModal" class="modal" style="display:none;">
    <div class="modal-content">
        <div class="col-md-12 text-center">
            <div class="heading-icon text-center"><span><i class="fa fa-user-circle circle-icon" aria-hidden="true"></i></span></div>
            <h2 class="heading-h2 mt-2"><span>Create New Company</span></h2>
        </div>
        <div id="attachmentContainer" style="margin-top: 20px;"></div>
        <div class="col-sm-12">
            <div class="row">
                <form class="login-form">
                    <div class="col-md-12">
                        <label for="txtModalCompanyCode" class="form-label login-form-text">Company Code</label>
                        <input id="txtModalCompanyCode" name="txtModalCompanyCode" class="login-test-field form-control login-form-text"
                         placeholder="Enter Company Code" type="text" autocomplete="off" maxlength="15">
                    </div>
                    <div class="col-md-12">
                        <label for="txtModalCompanyName" class="form-label login-form-text">Employee Name </label>
                        <input id="txtModalCompanyName" name="txtModalCompanyName" class="login-test-field form-control login-form-text"
                         placeholder="Enter Employee Name" type="text" maxlength="150" autocomplete="off">
                    </div>
                    <div class="col-md-12">
                        <label for="txtModalEmailid" class="form-label login-form-text">Email</label>
                        <input id="txtModalEmailid" name="txtModalEmailid" class="login-test-field form-control login-form-text"
                         placeholder="Enter Email" type="text" maxlength="50" autocomplete="off">
                    </div>
                    <div class="col-md-12">
                        <label for="txtModalMobileNo" class="form-label login-form-text">Mobile No</label>
                        <input id="txtModalMobileNo" name="txtModalMobileNo" class="login-test-field form-control login-form-text"
                         placeholder="Enter Mobile No" type="text" maxlength="15" autocomplete="off">
                    </div>
                    <button type="button" class="btn btn-primary btn-height" title="CREATE NEW" onclick="Create()">CREATE NEW</button>
                </form>
            </div>
        </div>
        <div style="margin-top: 30px;">
            <button class="btn btn-secondary" onclick="$('#attachmentModal').hide()">Close</button>
        </div>
    </div>
</div>



