@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/assets/script/ResetPassword.js"></script>

<title>Login ESMS</title>
<style>
    .login-containers {
        color: #ef6c00;
        padding: 10px 10px;
        border-radius: 10px;
        box-shadow: 0 0 11px 1px #999999;
        max-width: 480px;
        margin: 0 auto;
        margin-top: 2rem;
        font-size:15px;
    }

    #btnValidateCompany, #btnProceed {
        width: 100%;
    }

    .Esms-logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: relative;
        bottom: 4rem;
        border: 1px solid #e0e4e8;
    }

    .Esms-login-logo {
        height: 50px;
    }

    .login-form-text {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem !important;
        font-weight: 400 !important;
    }

    .login-test-field {
        padding: 4px .75rem 0.59rem .75rem;
        margin-bottom:20px;
    }

</style>
<div class="login-containers card">
    <div class="modal-header">
        <h4 class="modal-title center text-bold">
            <img style="height: 40px; vertical-align: bottom" src="~/assets/images/bizsol-logo-small.gif" />
            <font style="font-size: xx-large; line-height: 1.3;"><span style="color: #ef6c00;">B</span><span style="color: #569252;">iz</span><span style="color: #ef6c00;">S</span><span style="color: #569252;">o</span><span style="color: #ef6c00;">l</span> </font>
            <span style="color: #ef6c00;">E-Task</span>
        </h4>
        <span class="text-right" style="color: #ef6c00;"><i class="fa fa-lock fa-2x" aria-hidden="true"></i></span>
    </div>
    <hr />
    <form>
            <div>
                <div class="mt-2">
                    <label for="txtNewPassword" class="form-label login-form-text">New Password</label>
                <input type="password" id="txtNewPassword" name="txtNewPassword" class="login-test-field form-control login-form-text" placeholder="Enter New Password" maxlength="15" autocomplete="off">
                </div>
                <div class="mt-2" id="txtU">
                <input type="password" id="txtNewConfirmPassword" name="txtNewConfirmPassword" class="login-test-field form-control login-form-text" placeholder="Enter New Confirm Password" maxlength="15" autocomplete="off">
                </div>
                <div class="text-right">
                   <input type="button" class="login-test-field btn btn-primary login-form-text" id="btnSave" value="Change Password" />
                </div>
            </div>
            <div class="text-right" id="dvMsg" style="display:none">
                <level id="txtMsg" style="color:green"></level><br/>
                <span style="color:blue;font-size:12px;cursor:pointer;" id="btnBack">GO TO LOGIN ?</span>
            </div>
    </form>
</div>





