@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href="~/assets/css/filter.css" rel="stylesheet" />
<script src="~/assets/script/employeemaster.js"></script>
<script src="~/assets/js/xlsx.full.min.js"></script>
<style>
    .tabs {
        width: 100%;
        max-width: 2000px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        overflow: hidden;
        padding: 0.7rem;
    }
    
</style>
<div class="container">
    <div class="mt-1" id="txtListpage">
        <div class="row">
            <div class="col-sm-12 text-end">
                <label></label>
                <button type="button" class="btn btn-primary btn-height" title="CREATE NEW" onclick="Create()">CREATE NEW</button>
            </div>
        </div>
        <div class="card-body mt-2" id="txtEmployeeTable">
            <div class="table-wrapper fixed-height-table">
                <table id="table" class="fixed-width-table table">
                    <thead id="table-header">
                    </thead>
                    <tbody id="table-body">
                    </tbody>
                </table>
            </div>
            <!-- Paginator -->
            <div class="paginator" id="paginator-table">
            </div>
        </div>
    </div>
    <div id="txtCreatepage" style="display:none;">
        <div class="card shadow-sm">
            <div class="tabs">
                <div class="row p-1">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3  col-sm-6" id="dvEmployeeId" style="display:block">
                                <label for="txtEmployeeId" class="col-form-label-sm fw-bold">
                                    <input type="hidden" id="hftxtCode" value="0" />
                                    Employee Id-Card <span class="text-danger">*</span>
                                </label>
                                <input type="text" id="txtEmployeeId" name="txtEmployeeId" autocomplete="off" class="Number form-control form-control-sm box_border" placeholder="Enter Employee Id-Card..." maxlength="4">
                            </div>
                            <div class="col-md-3  col-sm-6" id="dvEmployeeName" style="display:block">
                                <label for="txtEmployeeName" class="col-form-label-sm fw-bold">
                                    Employee Name <span class="text-danger">*</span>
                                </label>
                                <input type="text" id="txtEmployeeName" name="txtEmployeeName" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Enter Employee Name.." maxlength="50">
                            </div>
                            <div class="col-md-3  col-sm-6" id="dvEmailId" style="display:block">
                                <label for="txtEmailId" class="col-form-label-sm fw-bold">
                                    Email Id <span class="text-danger">*</span>
                                </label>
                                <input type="text" id="txtEmailId" name="txtEmailId" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Enter Email Id.." maxlength="50">
                            </div>
                            <div class="col-md-3  col-sm-6" id="dvMobileNo" style="display:block">
                                <label for="txtMobileNo" class="col-form-label-sm fw-bold">
                                    Mobile No <span class="text-danger">*</span>
                                </label>
                                <input type="text" id="txtMobileNo" name="txtMobileNo" autocomplete="off" class="Number form-control form-control-sm box_border" placeholder="Enter Mobile No.." maxlength="10">
                            </div>
                            <div class="col-md-3  col-sm-6" id="dvPassword" style="display:block">
                                <label for="txtPassword" class="col-form-label-sm fw-bold">
                                   Password <span class="text-danger">*</span>
                                </label>
                                <input type="password" id="txtPassword" name="txtPassword" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Enter Password.." maxlength="15">
                            </div>
                            <div class="col-md-3  col-sm-6" id="dvConfirmPassword" style="display:block">
                                <label for="txtConfirmPassword" class="col-form-label-sm fw-bold">
                                    Confirm Password <span class="text-danger">*</span>
                                </label>
                                <input type="password" id="txtConfirmPassword" name="txtConfirmPassword" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Enter Confirm Password.." maxlength="15">
                            </div>
                            <div class="col-md-3  col-sm-6" id="dvEmployeeType" style="display:block">
                                <label for="txtEmployeeType" class="col-form-label-sm fw-bold">
                                    Employee Type <span class="text-danger">*</span>
                                </label>
                                <select class="form-control form-control-sm box_border" id="txtEmployeeType" name="txtEmployeeType">
                                    <option value="A">Admin</option>
                                    <option value="U">User</option>
                                </select>
                            </div>
                            <div class="col-md-3  col-sm-6" style="display:block">
                                <label for="txtnumberofdays" class="col-form-label-sm fw-bold">
                                    Number Of Days <span class="text-danger">*</span>
                                </label>
                                 <input type="text" id="txtnumberofdays" name="txtnumberofdays" autocomplete="off" class="Number form-control form-control-sm box_border" placeholder="Enter number of days.." maxlength="10">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12 text-right">
                                <input type="button" class="btn btn-danger btn-height" onclick="Back();" value="Back" />
                                <input type="button" class="btn btn-primary btn-height" id="btnSave" value="Save" />
                                <input type="button" class="btn btn-primary btn-height btn-width-100px" id="btnPass" value="Change Password" style="display:none">
                            </div>
                        </div>
                    </div>
                </div>
            <div class="card mt-2" id="dvExcel" style="display:block">
                <div class="tabs">
                <div class="row p-1">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4  col-sm-6">
                                <a herf="#" style="color:blue;cursor:pointer;" onclick="GetExcelTemplate('N')">Download Excel Template</a><br />
                                 <a herf="#" style="color:blue;cursor:pointer;" onclick="GetExcelTemplate('Y')">Download Excel Template Sample</a>
                            </div>
                            <div class="col-md-4  col-sm-6">
                                        <input type="file" id="txtExcelFile" name="txtExcelFile" autocomplete="off" class="form-control form-control-sm box_border" accept=".xlsx, .xls">
                            </div>
                             <div class="col-md-4 col-sm-6 ">
                                <input type="button" class="btn btn-primary btn-height" id="btnUpload" value="Upload Excel" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>

    </div>
</div>
<script src="~/assets/js/filter.js"></script>


