@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href="~/assets/css/filter.css" rel="stylesheet" />
<!-- Bootstrap Datepicker JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/xlsx.full.min.js"></script>
<style>
    .datepicker td, .datepicker th {
        /* border-radius: 20px !important; */
        border: 1px solid #0c666e;
    }
    .datepicker table tr td, .datepicker table tr td {
        padding: 6px 9px !important;
        height: 16px !important;
    }
    .datepicker thead, th {
        background-color: #0ba4af;
        color: white;
    }
    :is(.datepicker thead .prev, .datepicker thead .next, .datepicker thead .datepicker-switch) {
        text-align: center;
        padding: 2px 2px 5px 2px !important;
    }
    .datepicker table tfoot {
        display: none;
    }
    .active {
        background-color: #0ba4af;
        color: #fff;
    }
    .datepicker {
        top: 157.766px !important;
        left: 262px;
        z-index: 10;
        display: block;
    }
    .tabs {
        width: 100%;
        max-width: 2000px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        overflow: hidden;
        padding: 0.7rem;
    }
    .tabs {
        width: 100%;
        max-width: 2000px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        overflow: hidden;
        padding: 0.7rem;
    }
    tfoot td {
        background-color: #e6f2f5;
        font-weight: bold;
    }
    .summary-title {
        font-weight: bold;
        font-size: 18px;
        color: #004d66;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .remarks-box {
        width: 100%;
        padding: 8px;
        margin-top: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .highlighted-date {
        background-color: #ffeb3b !important;
        border-radius: 50% !important;
        color: black !important;
    }
    .datepicker thead, th {
        background-color: #195c61 !important;
        color: white;
    }
    .dynamic-table td select,
    .dynamic-table td input {
        width: 100%;
    }
</style>
<div id="txtCreatepage">
    <div class="card shadow-sm">
        <div class="tabs">
            <div class="row p-2">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <input type="hidden" id="hftxtCode" value="0" />
                            <label for="ddlEmployeeName" class="col-form-label-sm fw-bold">Employee Name</label>
                            <select id="ddlEmployeeName" class="form-control form-control-sm box_border">
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <label for="txtFromDate" class="col-form-label-sm fw-bold">Date</label>
                            <input type="text" id="txtFromDate" name="txtFromDate" autocomplete="off" class="form-control form-control-sm box_border" placeholder="From Date.." maxlength="12">
                        </div>
                        <div class="col-md-3 col-sm-6">
                        <div class="form-check form-switch">
                                <label for="ManualTimeCheckDefault" class="col-form-label-sm fw-bold">Manual Time</label>
                                <input class="form-check-input" type="checkbox" id="ManualTimeCheckDefault" checked>
                              
                             @* <label class="form-check-label" for="flexSwitchCheckDefault">Manual Time</label> *@
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrapper" style="overflow: auto;">
                        <table id="table" class="table dynamic-table">
                            <thead id="table-header">
                            </thead>
                            <tbody id="table-body"></tbody>
                            <tfoot>
                            <th colspan="1" style="text-align:left">Total :</th>
                            <th class="footerth" style="display:none"></th>
                            <th class="footerth" style="display:none"></th>
                            <th id="footerTotalMinutes"></th>
                            <th colspan="3"></th>

                            </tfoot>
                        </table>
                    </div>
                    <div class="paginator" id="paginator-table">
                    </div>
                </div>
            </div>
        </div>
       @*  <div class="col-sm-4 p-2">
            <label>Department Pending work remark</label>
            <input class="remarks-box form-control-sm box_border" type="text" id="txtRemarks" autocomplete="off" maxlength="500">
        </div> *@
        <div class="summary-section p-2">
            <div class="summary-title">Summary</div>
            <div class="row">
                <div class="col-sm-6">

                    <div class="table-wrapper" style="overflow: auto;">
                        <table id="table1" class="">
                            <thead id="table-header1" style="background:#0c666e;">
                            <th>Department</th>
                            <th>Time (in Mins)</th>
                            </thead>
                            <tbody id="table-body1"></tbody>
                            <tfoot>
                            <th style="text-align:left">Total :</th>
                            <th id="footerTotalMinutes1"></th>
                            </tfoot>
                        </table>
                    </div>

                    <div class="paginator" id="paginator-table1">
                    </div>

                </div>
                <div class="col-sm-6">
                   
                    <div class="table-wrapper" style="overflow: auto;">
                        <table id="table2" class="">
                            <thead id="table-header2" style="background:#0c666e;">
                            <th>Work Type</th>
                            <th>Time (in Mins)</th>
                            </thead>
                            <tbody id="table-body2"></tbody>
                            <tfoot>
                            <th style="text-align:left">Total :</th>
                            <th id="footerTotalMinutes2"></th>
                            </tfoot>
                        </table>
                     </div>

                    <div class="paginator" id="paginator-table2">
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<script src="~/assets/js/filter.js"></script>
<script src="~/assets/script/timesheetmaster.js"></script>